/* Sticky footer styles
-------------------------------------------------- */
@import url(http://fonts.googleapis.com/css?family=Montserrat:400,700);
@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,700,300,600,800,400);
@import url(http://fonts.googleapis.com/css?family=Arvo:400,700);
@import url(responsive.css);
@import url(wordpress-core.css);
@font-face {
  font-family:"weather";
  src:url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/93/artill_clean_icons-webfont.eot?#iefix) format(embedded-opentype), url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/93/artill_clean_icons-webfont.woff) format(woff), url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/93/artill_clean_icons-webfont.ttf) format(truetype), url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/93/artill_clean_icons-webfont.svg#artill_clean_weather_iconsRg) format(svg);
  font-weight:400;
  font-style:normal;
}


.search-widget {
  margin-bottom: 10px;
}

#weather {
  padding-top: 30px;
  width: 100%;
  text-align: left;
  margin: 0 auto;
}

.w-deg {
  font-size: 20px;
  color: #005374;
}

#weather i {
  font-family: weather;
  font-size: 50px;
  font-weight: 400;
  font-style: normal;
  line-height: 1.0;
  color: #fff;
}
#weather ul{
  padding: 0;
    list-style-type: none;
    color:#fff;
}
ul {
  list-style-type: none;
}

.icon-0:before {
  content: ":";
}

.icon-1:before {
  content: "p";
}

.icon-3:before {
  content: "Q";
}

.icon-26:before {
  content: "3";
}

.icon-40:before {
  content: "M";
}


.icon-2:before,.icon-4:before,.icon-37:before,.icon-38:before,.icon-39:before,.icon-45:before,.icon-47:before {
  content: "S";
}

.icon-5:before,.icon-6:before,.icon-7:before,.icon-8:before,.icon-10:before,.icon-15:before,.icon-17:before,.icon-35:before,.icon-41:before,.icon-43:before {
  content: "W";
}

.icon-9:before,.icon-11:before,.icon-12:before,.icon-13:before,.icon-14:before,.icon-16:before,.icon-42:before {
  content: "I";
}

.icon-18:before,.icon-46:before {
  content: "U";
}

.icon-19:before,.icon-20:before,.icon-21:before,.icon-22:before,.icon-23:before {
  content: "Z";
}

.icon-24:before,.icon-25:before {
  content: "E";
}

.icon-27:before,.icon-29:before,.icon-44:before {
  content: "a";
}

.icon-28:before,.icon-30:before {
  content: "A";
}

.icon-31:before,.icon-33:before {
  content: "6";
}

.icon-32:before,.icon-34:before,.icon-36:before {
  content: "1";
}



html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #f5f5f5;
}
.Montserrat{
  font-family: 'Montserrat', sans-serif;
}
.OpenSans{
  font-family: 'Open Sans', sans-serif;
}
.Arvo{
  font-family: 'Arvo', serif;
}
.font-weight-400{
  font-weight: 400;
}
.font-weight-700{
  font-weight: 700;
}

/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

.container .text-muted {
  margin: 20px 0;
}
.footer > .container {
  padding-right: 15px;
  padding-left: 15px;
}

.header-menu{
  background: #01bcf3;
}

.header-logo{
   height: 150px;
   display: block;
   width: 100%;
}
.logo-container{
  height: 130px;
  display: block;
}

.navbar-default .navbar-nav{
  text-transform: uppercase;
  font-weight: bold;
}
.navbar-default .navbar-nav>li>a {
  color: #fff;
  border-bottom: solid 5px transparent;
}
.navbar-default .navbar-nav>li>a:hover {
  color: #000100;
  border-bottom: solid 5px #000100;
}
.navbar-default .navbar-nav>.active>a, 
.navbar-default .navbar-nav>.active>a:focus, 
.navbar-default .navbar-nav>.active>a:hover {
  color: #000100;
  background-color: transparent;
  border-bottom: solid 5px #000100;

}
.navbar-default .navbar-nav>.open>a, 
.navbar-default .navbar-nav>.open>a:focus, 
.navbar-default .navbar-nav>.open>a:hover {
  color: #000100;
  background-color: transparent;
  border-bottom: solid 5px #000100;
}
.element-responsive{
    margin-left: auto;
  margin-right: auto;
  max-width: 100%;
}
.is-img-responsive{
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
}
.search-social{
  padding-top: 50px;
}
.search-social input{
  border-radius: 0px;
}
.search-social input[type=submit] {
  background: #000100;
  color:#fff;
}
.app-form input,.app-form textarea{
  border-radius: 2px;
  background: #648eb4;
  border: #648eb4;
  color: #fff;
}
.app-form input[type=submit]{
  background: #fffffd;
  color: #343434;
  text-transform: uppercase;
  font-weight: bold;
}
.app-form ::-webkit-input-placeholder {
   color: #fff;
}

.app-form :-moz-placeholder { /* Firefox 18- */
   color: fff;  
}

.app-form ::-moz-placeholder {  /* Firefox 19+ */
   color: fff;  
}

.app-form :-ms-input-placeholder {  
   color: fff;  
}
/* General text styles*/

.app-news a{
  text-decoration: none;
}
.uppercase{
  text-transform: uppercase;
}
.bold{
  font-weight: bold;
}
.font-red{
  color: #FF4C55!important;
}
.font-gray-flat{
  color: #999999!important;
}
.font-gray-flat a{
  color: #999999!important;
}
.font-green{
  color: #1c7636!important;
}
.font-green-flat{
  color: #05a54d!important;
}
.font-lucite{
  color: #1faea8!important;
}
.font-blue{
  color: #4878a0!important;
}
.font-dark-blue{
  color: #212c37!important;
}
.font-white{
  color: #fff;
}
.font-black{
  color: #000201!important;
}
.text-shadow-min-inverse{
  text-shadow: 1px 1px 0px #fff;
}
.text-shadow-min{
  text-shadow: 1px 1px 0px #344152;
}
.text-shadow{
  text-shadow: 2px 2px 0px #344152,3px 3px 0px #344152 ;
}
.line-height-15{
    line-height: 15px;
}
.size-16{
  font-size: 16px;

}
.size-30{
  font-size: 2.5em;
}
.size-20{
  font-size: 20px;
}
.line-height{
  line-height: 30px;
}
.line-height-10{
  line-height: 10px;
}

/* General styles*/
.h40{
  padding-top: 9px;
  padding-bottom:4px;
  height: 40px;
}
.no-p{
  margin-bottom: -5px;
}

.margin-top-20{
  margin-top: 20px;
}

.padding-5-t{
  padding-top: 5px;
}
.padding-5-b{
  padding-bottom: 5px;
}
.padding-10-l{
  padding-left: 10px;
}
.padding-10-t{
  padding-top: 10px;
}
.padding-10-b{
  padding-bottom: 10px;
}
.padding-15-t{
  padding-top: 15px;
}
.padding-15-b{
  padding-bottom: 15px;
}
.padding-20-t{
  padding-top: 20px;
}
.padding-20-b{
  padding-bottom: 20px;
}
.padding-15{
  padding: 15px;
}
.category-note{
  border: solid 4px #fff;
  padding:5px;
}
.padding-bottom{
  padding-bottom: 10px;
}
.no-top{
  margin-top: 0px;
}
.no-radius{
  border-radius: 0px!important;
}
.triangle-right{
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 25px 0 25px 43.3px;
  border-color: transparent transparent transparent #da4e50;
  line-height: 0px;
  _border-color: #000000 #000000 #000000 #da4e50;
  _filter: progid:DXImageTransform.Microsoft.Chroma(color='#000000');
}
.background-yellow-flat{
  background: #fedc71;
}
.background-blue-opacity{
  background: rgba(39, 99, 153, 0.85);
}
.background-white{
  background: #fff;
}
.background-blue{
  background: #34699b;
}
.background-blue-flat{
  background: #01bcf3;
}
.background-blue-flat-2{
  background: #6dcff6;
}
.background-green-cian{
  background: #cdffff;
}
.background-green-sec{
  background: #00a551;
}
.background-lucite{
  background: #1faea8;
}
.background-dark-blue{
  background: #212c37;
}
.background-white{
  background: #fff;
}
.background-red{
  background: #da4e51;
}
.height-50{
  height: 50px;
}
.h300{
  height: 315px;
}
.separator-v-r{
  border-right: 2px solid #e1e1e1;
}
.separator-v-l{
  border-left: 2px solid #e1e1e1;
}
.btn-flat-lg{
  padding-left: 60px;
  padding-right:60px;
}
.btn-flat-red{
  background: #da4e51;
  border-radius: 2px;
  color: #fff;
  font-size: 12px;
}
.btn-flat-red:hover,.btn-flat-red:focus{
  background: #BD383B;
  border-radius: 2px;
  color: #fff;

}
.buzon{
  padding: 5px;
}
.buzon-int{
  padding: 5px;
  display: block;
}
.top-orange{
  border-top: 1px solid #d2a57b;
}
.top-blue{
  border-top: 5px solid #34699b;
}
.left-orange{
  border-left: 1px solid #d2a57b;
}
.right-orange{
  border-right: 1px solid #d2a57b;
}
.bottom-orange{
  border-bottom: 1px solid #d2a57b;
}
.border-bottom-white{
  border-bottom:solid 10px #fff;
}
.border-bottom-brown{
  border-bottom:solid 10px #544741;
}
.border-bottom-green{
  border-bottom: solid 10px #1c7636;
}
.border-bottom-green-flat{
  border-bottom:solid 10px #00a551;
}
.border-bottom-lucite{
  border-bottom:solid 10px #1faea8;
}
.border-bottom-blue{
  border-bottom:solid 10px #34699b;
}
.border-bottom-dark-blue{
  border-bottom:solid 10px #212c37;
}
.border-bottom-red{
  border-bottom: solid 5px #FF4C55;
}

.border-bottom-size-2{
  border-width: 2px;
  }
/*rudos y tecnicos*/

.background-red{
  background: #FF4C55;
}


/* Temas relevantes */
.temas-relevantes{
  margin-top: 15px;
  margin-bottom: 15px;
}

.carousel-inner a{
  color: #fff;
}
.carousel-inner a:hover{
  text-decoration: none;
  color: rgba(39, 99, 153, 0.85);
  text-shadow: 2px 2px 0px #fff,3px 3px 0px #fff ;
}
.temas-relevantes .carousel-inner a,.temas-relevantes a {
  height: 50px;
  padding-top: 10px;
  padding-bottom: 10px;
  color: #fff!important;
}
.temas-relevantes .triangulo-azul-rojo{
  background: url("../img/relevantes.png") 100% no-repeat;
  height: 50px;
  background-color: #FF4C55;
  color: #fff;
  padding-top: 5px;
  padding-left: 75px;
}
.acapulquirri-bg{
  background: url("../img/acapulquirri.png") #6dcff6 100% no-repeat;
}
.acapulquirri-bloq{
  min-height: 232px;
}

/* Controls slider */
.carousel-caption p{
  font-size: 16px;
}
.header-carousel{
  width: 100%;
  position: absolute;
  top: 30px;
}
.ctrl{
  color: #fff;
  opacity: 1;
  
}
.single-content p{
  font-size: 16px;
}
