@media(max-width:767px){
	.header-logo{
	   height: 50px;
	}
	.is-img-responsive{
	  margin-left: auto;
	  margin-right: auto;
	  max-width: 200px;
	}
	.hidde-for-mobile{
		display: none;;
	}
	.logo-container{
		width: auto;
		height: 50px;
	}
	.logo-header-mobile{
		max-width: 200px;
		height: 50px!important;
	}
	.header-logo{
		height: 50px!important;
	}
}

@media(min-width:768px){}
@media(min-width:992px){
	#homepage > .col-md-12{
		  max-width: 1170px!important;
	}

}
@media(min-width:1200px){
	#homepage > .col-md-12{
		  max-width: 1170px;
	}
	.custom-container{
	  padding-right: 60px;
	  padding-left: 60px;
	  margin-right: auto;
	  margin-left: auto;

	}
}